<div class="text-center text-primary"><h3>{{title}}</h3></div>
<br>
<div class="d-flex">
    <div class="ml-4">
        <label>Εισάγετε όνομα Συνταγής:
            <input type="text" class="ml-2" size="40" pInputText />
        </label>
    </div>
    <div class="ml-4">
        <label>Εισάγετε δυσκολία Συνταγής: 
            <input type="text" size="30" pInputText/>
        </label>
    </div>
</div><br>
<div class="ml-4">
    <label>Εισάγετε χρόνο εκτέλεσης Συνταγής:
        <input type="text" class="ml-2" size="29" placeholder="Σε λεπτά" pInputText/>
    </label>
</div>


